---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	img: string;
	highlightedSection: string;
	firstParagraph: string;
	secondParagraph: string;
}

const { title, firstParagraph, highlightedSection, secondParagraph, img } = Astro.props;
---

<li class="text-white min-w-[90vw] md:min-w-0 mx-auto md:w-[45%] transition-all md:first:-translate-y-[10vh] md:-translate-y-[15vh] md:last:-translate-y-[10vh] duration-300 snap-start relative isolate border-[2px] border-secondary rounded-sm bg-gray-900">
	<div class="z-10 pointer-events-none h-full backdrop-brightness-50 absolute inset-0 bg-gradient-to-br from-gray-950/50 to-gray-950/50"></div>
	<div class="z-20 relative">
			<div class="relative">
					<div class="absolute inset-0 bg-gradient-to-br from-gray-950/50 to-gray-950/50"></div>
					<Image
					decoding="async"
					loading="lazy"
							class='z-0'
							src={`/${img}.webp`}
							alt='Fotografia de um homem com runas no seu entorno'
							width={1920}
							height={1080}
					/>
			</div>
			<h2 class="text-lg font-semibold relative z-20 -translate-y-[48px] px-5">
					{title}
			</h2>
			<span class="relative">
				<span class="py-4 px-5 flex flex-col gap-7 text-white/80">
					<p>
						<strong class="text-white">
							{highlightedSection} {' '}
						</strong>
						{firstParagraph}
					</p>
					<p>{secondParagraph}</p>
				</span>
			</span>
	</div>
</li>